*{
    box-sizing: border-box;
    font-family: 'din', 'Source Sans Pro', sans-serif;
}

.wrapper{
    /*min-width: 320px;
    width: 100%;*/
    position: relative;
    min-width: 640px;
    max-width: 100%;
    margin: 0 auto;    
    font-family: 'Source Sans Pro', sans-serif;
    color: #342b2f;
}

.main-container{
    min-height: 500px;
}

.inner-wrapper{
    padding: 25px 20px;
}

/*--------------
    HEADER
--------------*/
.nav-header{
    background: #342b30;
    height: 150px;
    border-bottom: 5px solid #bebebe;
}

.nav-button{
    float: left;
    width: 120px;
    height: 145px;
    padding-top: 60px;
    border-right: 2px solid #2b2427;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-button span{
    display: block;
    width: 60px;
    height: 8px;
    margin: 0 auto 5px;
    background: #201b1d;
    border-bottom: 1px solid #3b3236;
}

.nav-header .logo{
    display: block;
    height: 145px;
    margin: 0 0 0 120px;    
    border-left: 2px solid #3b3236;
    text-align: center;
}

.nav-header .logo img{
    max-width: 100%;
    height: auto;
    padding: 0 10px;
    position: relative;
    top: 140px;
    margin-top: -155px;
    vertical-align: middle;
}

/*--------------
    NAVIGATION
--------------*/
nav.drop-down{
    display: none;
    position: absolute;
    width: 100%;
    z-index: 100;
    top: 145px;
    left: 0;
    border-top: 1px solid #2b2427;
    border-bottom: 5px solid rgba(0,0,0,0.1)
}

nav.drop-down.active{
    display: block;
}

nav.drop-down ul{
    margin: 0;
    padding: 0;
}

nav.drop-down ul li{
    margin: 0;
    padding: 0;
}

nav.drop-down ul li a{
    display: block;
    background: #3d3338;
    font-weight: 600;
    font-size: 32px;
    color: #fff;
    line-height: 32px;
    text-shadow: 0 2px 0 #2a2326;
    text-decoration: none;
    padding: 38px 30px;
    border-top: 1px solid #453a3f;
    border-bottom: 2px solid #382f34;
}

nav.drop-down ul li:first-child a{
    border-top: none;
}

nav.drop-down ul li a:before{
    content: "";
    float: right;
    width: 13px;
    height: 20px;
    overflow: hidden;
    margin-top: 8px;
    background: url("../images/sprite.png") no-repeat 0 0;
}

/*--------------
    CAROUSEL
--------------*/
.carousel .item{
    width: 100%;
}
.carousel .item:after {
    padding-top: 59.25%; /*16:9 ratio*/
    display: block;
    content: '';
}

.carousel .item .item-container{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
}
.carousel .item .item-container .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.carousel .item .item-container .image img{
    width: 100%;
}

.carousel .item .item-container .desc{
    position: relative;
    z-index: 10;
    font-size: 28px;
    font-weight: bolder;
    text-align: center;
    color: #342b2f;
    margin-top: 50%;
}

.carousel .owl-pagination {
    display: block;
    margin: 20px auto;
    text-align: center;
}

.carousel .owl-pagination .owl-page{
    height: 20px;
    width: 20px;
    background: #342b2f;
    display: inline-block;
    margin: 0 10px;
    border-radius: 50%;
}

.carousel .owl-pagination .owl-page.active{
    background: #f7941e;
}

.owl-buttons{
    position: absolute;
    top: 35%;
    left: 0;
    width: 100%;
    height: 0;
}
.owl-buttons div{
    float: left;
    margin: 0 0 0 20px;
    width: 21px;
    height: 33px;
    background: url("../images/sprite.png") no-repeat 0 -20px;
}

.owl-buttons .owl-next{
    float: right;
    margin: 0 20px 0 0;
    background-position: -23px -20px;
}


/*--------------
    FORMS
--------------*/

.form-container{
    width: 100%;
    padding: 0 20px;
}

.form-container .col1{
    width: 50%;
    float: left;
}

.form-container .col2{
    width: 50%;
    float: right;
    text-align: right;
}

.form-container h2{
    margin: 20px 0 15px;
    font-size: 30px;
    font-weight: 600;
    line-height: 32px;
    color: #3d3338;
    text-transform: uppercase;
}

.form-container p.lead-in{
    margin: 10px 0;
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #949494;
    text-transform: uppercase;
}

input,
label,
button{
    font-family: 'din', 'Source Sans Pro', sans-serif;
}

form input[type=text],
form input[type=email],
form input[type=password]{
    width: 100%;
    margin: 10px 0;
    padding: 25px 20px;
    border: 1px #2d292a solid;
    border-radius: 5px;
    font-size: 36px;
    font-weight: 600;
    color: #342b2f;
    outline: none;
}
form input::-webkit-input-placeholder { color: #939393; }
form input:-moz-placeholder { color: #939393; }
form input::-moz-placeholder { color: #939393; }
form input:-ms-input-placeholder { color: #939393; }
form input:input-placeholder { color: #939393; }


form label,
form a{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    color: #363435;
}

form label input[type=checkbox]{
    margin-right: 10px;
}

form input.error{
    border: 3px solid #f03535;
}

form input.error::-webkit-input-placeholder { color: #f03535; }
form input.error:-moz-placeholder { color: #f03535; }
form input.error::-moz-placeholder { color: #f03535; }
form input.error:-ms-input-placeholder { color: #f03535; }
form input.error:input-placeholder { color: #f03535; }

button[type='submit'], a.cta{
    clear: both;
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 25px 20px;
    font-weight: 600;
    font-size: 36px;
    letter-spacing: 0;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    text-shadow: 0 2px 0 #bc6600;
    border: 1px #302728 solid;
    border-radius: 5px;    
    background: #f7941e;
}


/*-------------------
    GENERIC CONTENT
--------------------*/
a{
    color: #f7941e;
    text-decoration: none;
}

b{ font-weight: 900; }

.title h2{
    font-size: 28px;
    font-weight: 600;
    line-height: 30px;
    text-align: center;
    margin: 20px 0 0;
    padding-bottom: 25px;
    border-bottom: 2px solid #cecece;
}
.title h2 lower{
    text-transform: lowercase;
}
.title p{
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
    color: #342b2f;
    text-align: center;
    margin: 20px 10%;
}

.info-header{
    width: 100%;
    position: relative;
    border-bottom: 2px solid #cecece;
}
.info-header .image{
    width: 50%;
}
.info-header .details{
    position: relative;
    float: right;
    right: 0;
    top: 0;
    width: 50%;
    background: #e8e8e8;
}
.info-header .details > div{
    margin: 0 20px 0 0;
    padding: 10px 20px;
    border-bottom: 2px solid #cecece;
}
.info-header .details > div:last-child{
    border-bottom: none;
}
.info-header .details p{
    text-transform: uppercase;
    font-weight: 900;
    margin: 0;
}
.info-header .details .main-info p{
    margin: 10px 0;
    font-size: 28px;
}
.info-header .details .sub-info{
    padding-right: 10px 0;
}
.info-header .details .sub-info p{
    margin: 10px 0;
    font-size: 16px;
}
.info-header .details .location p{
    margin: 10px 0;
    background: url("../images/location-pin.png") no-repeat right center;
    padding: 5px 20px 0 0;
}
.info-header .details .location a{
    color: #f7941e;
    display: block;
    min-height: 30px;
    overflow: hidden;
}
.info-header .image{
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    overflow: hidden;
    text-align: center;
}
.info-header .image img{
    position: relative;
    max-width: 100%;
    vertical-align: middle;
}
.call-out{
    width: 100%;
    border-bottom: 2px solid #cecece;
    text-align: center;
    padding: 10px 20px;
}
.call-out h3{
    font-size: 28px;
    font-weight: 900;
    text-transform: uppercase;
    margin: 10px 0;
}
.call-out h3.highlight{
    color: #f7941e;
}
.call-out p{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 10px 0;
}

.order-details, .order-details .viewport{
    height: 250px;
}
.order-details ol{
    margin: 0 0;
}
.order-details ol li{
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 400;
}

.faq{
    margin: 20px 0;
}
.faq, .faq .viewport{
    height: 500px;
}

.faq .question{
    border-bottom: 2px solid #cecece;
}
.faq .question .q{
    margin: 0 0 35px;
}
.faq .question .q p{
    margin: 20px 0 10px;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
}
.faq .question .a p{
    margin: 20px 0;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
}

.contact{
    margin: 40px 20px;
}
.contact ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.contact li{
    margin: 0 0 35px;
}

.contact h3{
    height: 30px;
    overflow: hidden;
    font-size: 24px;
    font-weight: 900;
    margin: 0 0 10px;
    padding-left: 35px;
    background: url("../images/sprite.png") no-repeat;
}


.contact h3.address{ background-position: -74px 0; }
.contact h3.phone{ background-position: -74px -35px; }
.contact h3.fax{ background-position: -74px -72px; }

.contact p{
    font-size: 20px;
    font-weight: 600;
    margin: 5px 0;
}

.reservations .item{
    width: 100%;
    padding: 20px;
    border-bottom: 2px solid #cecece;
}
.reservations .item:after{
    clear: both;
    content: "/A";
    display: block;
    height: 0;
    overflow: hidden;
}
.reservations .item .details{
    float: left;
    width: 80%;
    display: block;
    font-size: 22px;
}

.reservations .item .details:after{
    clear: both;
    content: "/A";
    display: block;
    height: 0;
    overflow: hidden;
}
.reservations .item .details p{
    float: left;
    margin: 0;
}
.reservations .item .details .date{
    width: 50%;
}
.reservations .item .details .time{
    width: 50%;
}

.reservations .item .delete{
    float: right;
    width: 34px;
    height: 34px;
    background: url("../images/sprite.png") no-repeat -40px -100px;
    cursor: pointer;
}



/*--------------
    FOOTER
--------------*/

footer{
    border-top: 2px solid #bebebe;
    margin: 20px 0;
    padding: 15px 20px
}

footer h3,
footer h4{
    margin: 5px 0;
    color: #372e31;
    text-transform: uppercase;;
    text-align: center;
    font-size: 26px;
    line-height: 26px;
    font-weight: 600;
}

footer h3{
    font-size: 16px;
    line-height: 16px;
}

footer h4{
    text-shadow: 0 -1px 0 #bfbbbc;
}

/*--------------
    OVERLAY
--------------*/
.overlay{
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(0,0,0,0.5);
}
.overlay .overlay-wrapper{
    position: relative;
    top: 50%;
    margin: -25% 20px 0;
    padding: 60px 20px 20px;
    background: #222222;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.5);
}
.overlay p{
    font-size: 20px;
    font-weight: 600;
    line-height: 36px;
    text-transform: uppercase;
    color: #f7941e;
    text-align: center;
    margin: 10px 0;
    padding: 0 30px;
}
.overlay button[type='submit']{
    font-size: 28px;
    margin: 20px 0;
    width: 100%;
    text-shadow: 0 -2px 0 #bc6600;
}
.overlay .cancel{
    position: absolute;
    width: 34px;
    height: 34px;
    top: 20px;
    right: 20px;
    background: url("../images/sprite.png") no-repeat -40px -100px;
    cursor: pointer;
}


/*---------------
    HELPERS
-----------------*/ 
.clear{
    clear: both;
}

.clear-after:after{
    clear: both;
    content: "/A";
    display: block;
    height: 0;
    overflow: hidden;
}

/*----------------
    SCROLLBAR
----------------*/
.custom-scroll{
    width:100%;
    position: relative;
}

.custom-scroll .viewport{
    width: 95%;
    overflow:hidden;
    position:relative;
    background: none;
}

.custom-scroll .overview{
    list-style:none;
    position:absolute;
    left:0;
    top:0;
    margin:0;
    padding: 0 20px 0 0;
}

.custom-scroll .scrollbar{
    background: #e8e8e8;
    position:absolute;
    background-position:0 0;
    right: 10px;
    top:0;
    width:10px;
    border-radius: 20px;
}

.custom-scroll .track{
    background: #e8e8e8;
    height:100%;
    width:15px;
    position:relative;
    padding:0;
    border-radius: 20px;
}

.custom-scroll .thumb{
    background: #f7941e;
    height:20px;
    width:15px;
    cursor:pointer;
    overflow:hidden;
    position:absolute;
    top:0;
    left:0;
    border-radius: 20px;
}

.custom-scroll .thumb .end{
    background: #f7941e;
    overflow:hidden;
    height:5px;
    width:25px;
}

.custom-scroll .disable{
    display:none;
}

.noSelect{
    user-select:none;
    -o-user-select:none;
    -moz-user-select:none;
    -khtml-user-select:none;
    -webkit-user-select:none;
}


